*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 3rem;
    border-bottom: 1px solid black;
}

#header-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.header-links{
    text-decoration: none;
    color: black;
    padding: 1em;
}
#header-section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
